<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<center>
		<h1>The Wine Ratings Database</h1>
		<form method='POST'>
			{{ form.hidden_tag() }}
			{{ form.search_terms(placeholder='Enter Wine Name') }}
			{{ form.submit() }}
	</center>
	<hr>	
	{% for message in get_flashed_messages() %}
		<center>
			<h3>{{ message }}</h3>
		</center>
	{% endfor %}
		
	{% if results_exist %}
		<ol>
		{% for index, row in results[:10].iterrows() %}
			<li>
				<b>Name:</b> {{ row['name'] }} <br>
				<b>Rating:</b> {{ row['rating'] }} <br>
				<b>Review:</b> {{ row['expert_review'] }} 
			</li> <br>
		{% endfor %}
		</ol>
	{% endif %}
</body>
</html>